				<?php
					$allowupdate = 0;
					$allowdelete = 0;
					$allowpost = 0;
				?>
				<!--{hook post_list_inc_start.htm}-->

				<?php if($postlist) { foreach($postlist as $_post) {

				?>
					<li class="media post" data-rid="<?php echo $_post['rid'];?>" data-uid="<?php echo $_post['uid'];?>">
						<a href="<?php echo url("user-$_post[uid]");?>" class="mr-3" tabindex="-1">
							<img class="avatar-3" src="./view/img/avatar.png">
						</a>
						<div class="media-body">
							<div class="d-flex justify-content-between small text-muted">
								<div>
									<span class="username">
										<a href="<?php echo url("user-$_post[uid]");?>" class="text-muted font-weight-bold"><?php echo $_post['username'];?></a>
									</span>
									<span class="date text-grey ml-2"><?php echo date("Y-m-d G:i:s",$_post['dateline']);?></span>
								</div>
								<div class="text-right text-grey">
									<a href="javascript:void(0)" data-tid="<?=$tid?>" data-pid="<?=$_post['rid']?>" class="text-grey post_reply mr-3"><i class="icon-reply" title="评论"></i> <span class="d-none">评论</span></a>
									<?php if($_post['floor']) { ?>
									<span class="floor-parent">
										<span class="floor mr-0"><?php echo $_post['floor'];?></span><?php echo lang('floor');?>
									</span>
									<?php } ?>
								</div>
							</div>
							<div class="message mt-1 break-all">
							<?php
							if(!empty($_post['up_content']))
							{
							?>
								<blockquote class="blockquote">
									<a href="javascript:void(null)" class="text-small text-muted user">
										回复:<?=$_post['up_floor']?> 楼
									</a>
									<?=$_post['up_content']?>
								</blockquote>
							<?php
							}
							?>
								<?php echo $_post['r_content'];?>
							</div>
						</div>
					</li>
				<?php }} ?>