<template include="./view/htm/user.template.htm">
	<slot name="user_body">
		<div class="row line-height-4">
			<div class="col-md-2 col-sm-12 text-center">
				<img class="logo-4" src="<?php echo $_user['avatar_url'];?>">
				<br><b><?php echo $_user['username'];?> </b>
				<!--{hook user_profile_username_after.htm}-->
				<?php
			if($isSelf == 0){
			?>
				<div class="m-3 text-center">
					<?php
				if($isFollow == 1)
				{
				?>
					<button type="button" class="btn btn-success" user-data="<?=$_uid?>">已关注</button>
					<?php
				}
				else{
				?>
					<button type="button" class="btn btn-success btn-follow" user-data="<?=$_uid?>">+ 关注Ta</button>
					<?php
				}
				?>
					<br>
					<?php
				if($isBlack == 1)
				{
				?>
					<button type="button" class="btn btn-danger" user-data="<?=$_uid?>">已拉黑</button>
					<?php
				}
				else{
				?>
					<button type="button" class="btn btn-danger btn-black" user-data="<?=$_uid?>">拉黑Ta</button>
					<?php
				}
				?>
				</div>
				<?php
			}
			?>
			</div>
			<div class="col-4 col-sm-5">
				<span class="text-muted">性别：</span><?=empty($_user['sex'])?'未知':$_user['sex']?>
				<br><span class="text-muted">等级：</span><?php echo $_user['grade'];?>
				<!--{hook user_profile_posts_after.htm}-->
			</div>
			<div class="col-auto">
				<span class="text-muted">浏览数：</span><?php echo $_user['views'];?>
				<br><span class="text-muted">评论数：</span><?php echo $_user['replies'];?>
				<!--{hook user_profile_login_date_after.htm}-->
			</div>


		</div>

		<!--{hook user_index_delete_user_button_after.htm}-->
		
	</slot>
</template>

<script>
$('a[data-active="user-profile"]').addClass('active');
<?php
if($uid >0)
{
			?>
	$(".btn-follow").bind('click',function(){
		var _toUid = $(this).attr("user-data");
		$(this).removeClass('btn-follow');
		$(this).html("已关注");
		url = '?user-userdo.htm&do=dofollow';
		$.xpost(url, {'uid': _toUid}, function(code, msg) {
			console.log(msg);
		});
	})
	$(".btn-black").bind('click',function(){
		var _toUid = $(this).attr("user-data");
		$(this).removeClass('btn-black');
		$(this).html("已拉黑");
		url = '?user-userdo.htm&do=doblack';
		$.xpost(url, {'uid': _toUid}, function(code, msg) {
			console.log(msg);
		});
	})
	<?php
}
else{
			?>
	$(".btn-follow").bind('click',function(){
		alert("请登录后再试");
	})

	$(".btn-black").bind('click',function(){
		alert("请登录后再试");
	})
	<?php
}
		?>
</script>